[submodule "ext-mod/emliri-es-libs"]
	path = ext-mod/emliri-es-libs
	url = https://github.com/tchakabam/emliri-es-libs
[submodule "ext-mod/hls.js"]
	path = ext-mod/hls.js
	url = git@github.com:video-dev/hls.js.git
